{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html>
    <head>
    <script src="{% static 'htmx.min.js' %}" defer></script>
    <!-- <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.2/dist/tailwind.min.css" rel="stylesheet"> -->
    <script src="https://cdn.tailwindcss.com"></script>
    {% tailwind_css %}
    {% block extrahead %}{% endblock %}
</head>
<body>
    <div id="navbar">
    <nav class="bg-gradient-to-r from-stone-200 to-indigo-600 text-white">
        <div class="container mx-auto py-3 flex justify-between items-center">
            <a class="font-bold text-2xl lg:text-4xl" href="/analysis">
                <img src="{% static 'logo_main.png' %}" class="h-24" alt="Wheel Bearing Defect Detector App"></img>
            </a>
            <div class="font-semibold flex items-center">
                {% block navbar_links %}
                
                {% if user.is_authenticated %}
                    <a href="/analysis" class="hover:bg-purple-700 rounded px-3 py-2">Dashboard</a>
                    <a href="/analysis/list/" class="hover:bg-purple-700 rounded px-3 py-2">Past Analysis</a>
                    <div class="flex flex-col items-center ml-4">
                        <span class="px-2 py-1">Welcome, <b>{{ user.username }}</b></span>
                        <a href="{% url 'logout' %}" class="hover:bg-red-600 rounded px-2 py-1">Logout</a>
                    </div>
                {% else %}
                    <a href="{% url 'login' %}" class="hover:bg-purple-700 rounded px-3 py-2">Login</a>
                    <a href="{% url 'signup' %}" class="hover:bg-purple-700 rounded px-3 py-2">Sign Up</a>
                {% endif %}
                {% endblock %}
            </div>
        </div>
    </nav>
    </div>
    <div class="continer mx-auto p-8">
        {% block content %}{% endblock %}
    </div>
</body>

</html>
