{% extends 'base.html' %}
{% block title %}
    <title>Sign in</title>
{% endblock %}
{% block content %}

    <div class="flex justify-center items-center">
        <div class="w-full max-w-md px-5 py-5 bg-white shadow-lg rounded">
            <h1 class="text-center text-2xl font-bold mb-6">Sign In</h1>
            {{ form.non_field_errors }}
            <form method="post">
                {% csrf_token %}
                <div class="mb-4">
                    <fieldset class="form-group">

                    <input
                        class="w-full px-4 py-2 border rounded text-gray-700 focus:outline-none focus:border-blue-500"
                        type="username"
                        placeholder="Username"
                        name="{{ form.username.name }}"
                    >
                    
                    {{ form.username.errors }}
                </fieldset>

                </div>
                <div class="mb-6">
                    <fieldset class="form-group">

                    <input
                        class="w-full px-4 py-2 border rounded text-gray-700 focus:outline-none focus:border-blue-500"
                        type="password"
                        placeholder="Password"
                        name="{{ form.password.name }}"
                    >
                    {{ form.password.errors }}
                </fieldset>

                </div>
                <button class="w-full py-2 px-4 bg-blue-500 hover:bg-blue-700 rounded text-white font-bold" type="submit">
                    Sign in
                </button>
            </form>
            <p class="text-center text-gray-600 mt-4">
                <a href="{% url 'signup' %}" class="text-blue-500 hover:text-blue-700">Need an account?</a>
            </p>
        </div>
    </div>
{% endblock %}
