    <div class="bg-white p-4 shadow-md rounded" id="takeForm">
      <h2 class="text-lg font-semibold mb-4">Current Analysis Parameters</h2>
      <!-- Parameters form elements -->
      <div><label class="block mb-2 text-sm font-medium text-gray-700">Window Size</label>{{ object.window_size }}</div>

      <div> <label class="block mb-2 text-sm font-medium text-gray-700">Overlap</label>{{ object.overlap }}</div>

      <div><label class="block mb-2 text-sm font-medium text-gray-700">FS</label>{{ object.fs }}</div>
      <div><label class="block mb-2 text-sm font-medium text-gray-700">Comment</label>{{ object.comment }}</div>

      <button hx-get="/analysis/{{object.analysis.pk}}/take/create/" hx-target="#takeForm" hx-swap="outerHTML"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Edit Parameters</button>
    </div>
