    <div class="bg-white p-4 shadow-md rounded" id="takeForm">
        <h2 class="text-lg font-semibold mb-4">Parameters for Analysis</h2>
        <!-- Parameters form elements -->
        <form id="newTakeForm" method="post" hx-post="/analysis/{{analysis}}/take/create/" hx-target="#takesSection" hx-swap="outerHTML">
            {% csrf_token %}

            <input type="hidden" name="{{ form.analysis.html_name }}" value="{{analysis }}" id="id_analysis">

            <div>
                <label class="block mb-2 text-sm font-medium text-gray-700">Window Size (default: 1024)</label>
                {{ form.window_size }}
            </div>

            <div>
                <label class="block mb-2 text-sm font-medium text-gray-700">Overlap (default: 128)</label>
                {{ form.overlap }}
            </div>

            <div>
                <label class="block mb-2 text-sm font-medium text-gray-700">FS (default: 48000)</label>
                {{ form.fs }}
            </div>

            <div>
                <label class="block mb-2 text-sm font-medium text-gray-700">Comment (optional)</label>
                {{ form.comment }}
            </div>
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Predict
                with provided prarmeters</button>
        </form>
    </div>
