{% if processed %}

<div class="">

  <div class="mb-4">
    <h2 class="text-xl font-semibold text-gray-800 mb-2">Analysis Results</h2>
    <div class="container mx-auto p-4">
      {% if results_status %}
      <div class="bg-white p-6 rounded shadow-md">

        <!--<div class="text-lg font-medium text-gray-900 mr-2">Result: "Wheel bearing is well"</div>-->
        <p class="text-lg">Status:
          <span class="font-bold text-{{results_color}}-500">
            {% if results_status == "good" %}
              Well
            {% else %}
              Defected
            {% endif %}
          </span>
        </p>

        <div class="flex flex-row">
          <div class="mr-2 text-sm font-semibold text-gray-500">The confidence level of the prediction:
            {{ take.analysis_result.confidence }}%</div>
          <div class="w-24 bg-white border border-gray-300  rounded-full h-4">
            <div class="bg-{{results_color}}-600 border border-{{results_color}}-600 h-4 rounded-full"
              style="width: {{ take.analysis_result.confidence }}%"></div>
          </div>

        </div>
      </div>
      {% endif %}
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div class="p-4 border rounded">
      <h3 class="text-md font-semibold text-gray-800 mb-2">SOM Prediction</h3>
      <!-- Placeholder for SOM Graph -->
      <div class="h-96 bg-white rounded flex justify-center items-center">
        <!-- Dynamic content here -->
        <img class="h-96" src="{{ take.som_hitmap.url }}" alt="">
      </div>
    </div>

    <div class="p-4 border rounded">
      <h3 class="text-md font-semibold text-gray-800 mb-2">Self-organization map visualization</h3>
      <!-- Placeholder for K-Means Graph -->
      <div class="h-96 bg-white rounded flex justify-center items-center">
        <!-- Dynamic content here -->
        <img class="h-96" src="/static/SOM_map.png" alt="">
      </div>
    </div>
  </div>

  {% if results_status == "bad" %}
  <!-- Cluster Information -->
    <div class="mt-6">
      <h3 class="font-semibold">Cluster Analysis</h3>
      <p>
        The analysis of the signal has revealed patterns that are consistent with a defective wheel bearing.
      </p>
        <p>The anomaly in the signal suggests a significant deviation from the normal operational baseline, pointing towards potential mechanical failure.
        </p><p>Immediate inspection and maintenance are recommended to prevent further damage and ensure safety.
    </p>
    </div>

    <!-- Recommendations -->

    <div class="mt-6">
      <h3 class="font-semibold">Recommendations</h3>
      <p>It is advised to inspect the wheel bearing for potential damage and consider replacement if necessary.</p>
    </div>
  </div>
  {% else %}

  <!-- Cluster Information -->
    <div class="mt-6">
      <h3 class="font-semibold">Cluster Analysis</h3>
      <p>The signal analysis of the wheel bearing shows characteristics that align with a well-functioning bearing.</p>
    <p>The frequency and amplitude patterns observed are within the expected normal range, indicating no signs of wear or damage.</p>
    <p>These results suggest that the wheel bearing is operating effectively and does not currently require maintenance intervention.</p>
    <p>Continuous monitoring is advised to maintain optimal performance and early detection of any future anomalies.</p>
    </div>

    <!-- Recommendations -->

    <div class="mt-6">
      <h3 class="font-semibold">Recommendations</h3>
      <p>The wheel bearing appears to be in good condition, with no signs of damage.</p>
        <p>Regular inspections are still advised to ensure continued optimal performance.</p>
    </div>    
  {% endif %}
  {% else %}
  <div class="text-center" hx-get="{% url 'take_result' take.pk %}" hx-trigger="load delay:5s"
  hx-target="this" hx-swap="outerHTML">
    <div class="mx-auto">Proccessing not ready yet.</div>
    <div class="text-center">
      <div class="spinner mx-auto mb-4"></div>
      <h2 class="text-lg font-semibold text-gray-800">Preparing an analysis for signal with provided parameters</h2>
    </div>
  </div> 

  

  {% endif %}

