{% block extrahead %}
<style>
    .modal-overlay {
        background-color: rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .modal-content {
        background-color: white;
        padding: 2rem;
        border-radius: 0.5rem;
        width: 90%;
        max-width: 600px;
    }
</style>
<script src="https://cdn.tailwindcss.com"></script>
{% endblock %}

<div id="createAnalysisModal" class="hidden fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full">
    <!-- Modal content -->
    <div class="relative top-20 mx-auto p-5 border w-5/12	 shadow-lg rounded-md bg-white">
        <div class="mt-3 text-center">
            <h3 class="text-lg leading-6 font-medium text-gray-900">Start new analysis</h3>
            <div class="mt-2" id="modal-content">

            <form method="post" enctype="multipart/form-data" class="bg-white  px-8 pt-6 pb-8 mb-4">
                {% csrf_token %}
                <div class="mb-4">
                    <label for="title" class="block text-sm font-bold text-gray-700">Title*</label>
                    {{ form.title }}
                    <p class="flex items-center gap-1 mt-2 font-sans text-sm antialiased font-normal leading-normal text-gray-700">
                        Specify title for new analysis
                      </p>
                </div>
                <div class="mb-6">
                    <label for="description" class="block text-sm font-bold text-gray-700">Description*</label>
                    {{ form.description }}
                    <p class="flex items-center gap-1 mt-2 font-sans text-sm antialiased font-normal leading-normal text-gray-700">
                        Set description for new analysis
                      </p>
                </div>
                <div class="mb-6">
                    <label for="inputSignal" class="block text-sm font-bold text-gray-700">Input Signal*</label>
                    {{ form.input_signal }}
                    <p class="flex items-center gap-1 mt-2 font-sans text-sm antialiased font-normal leading-normal text-gray-700">
                        Upload a file with wheelbearing signal. The file should be in .txt, .mat, or .csv format
                      </p>
                </div>

                <div class="flex items-center justify-end space-x-8">
                    <button type="button" onclick="toggleModal()" class="py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">Close</button>
                    <button type="submit" class="py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">Submit</button>
                </div>
            </form>

            </div>
        </div>
    </div>
</div>
<script>
    function toggleModal() {
        var modal = document.getElementById("createAnalysisModal");
        modal.classList.toggle("hidden");
    }
</script>
