<div class="overflow-x-auto relative shadow-md sm:rounded">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            {% if csv_data %}
                <tr>
                    {% for header in csv_data.0 %}
                        <th scope="col" class="py-3 px-6">
                            {{ header }}
                        </th>
                    {% endfor %}
                </tr>
            {% endif %}
        </thead>
        <tbody>
            {% for row in csv_data %}
                {% if forloop.counter > 1 %} <!-- Skip the header row -->
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        {% for cell in row %}
                            <td class="py-4 px-6">
                                {{ cell }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
