{% extends "base.html" %}

{% block content %}

<style>
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #4f46e5;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    animation: spin 1s linear infinite;
  }
</style>
<div class="flex justify-center items-center h-screen">
  <div class="text-center">
    <div class="spinner mx-auto mb-4"></div>
    <h2 class="text-lg font-semibold text-gray-800">Your signal is processing</h2>
  </div>
  </div>
  <script>
    var timeLeft = 7; // 12 seconds
    var timerId = setInterval(countdown, 1000);

    function countdown() {
        if (timeLeft == 0) {
            clearTimeout(timerId);
            window.location.href = "{% url 'signal_analysis_detail' analysis %}"; // Change URL here
        } else {
            timeLeft--;
        }
    }
</script>
{% endblock %}