<div class="mt-5 w-full max-w-6xl mx-auto bg-white rounded-xl shadow-xl overflow-hidden">


  
    <div class="container mx-auto p-8">
  
  
      <div class="bg-white rounded shadow-md p-5 mt-10">
  
        <div class="overflow-x-auto">
  
          <table class="min-w-full leading-normal">
  
            <thead>
  
              <tr>
  
                <th
                  class="px-5 py-3 bg-indigo-600 text-left text-xs font-semibold text-white uppercase tracking-wider rounded-tl-lg">
  
                  Date
  
                </th>
  
                <th
                  class="px-5 py-3 bg-indigo-600 text-left text-xs font-semibold text-white uppercase tracking-wider">
  
                  Title
  
                </th>
                <th
                  class="px-5 py-3 bg-indigo-600 text-left text-xs font-semibold text-white uppercase tracking-wider">
  
                  Input signal filename
  
                </th>
                <th
                  class="px-5 py-3 bg-indigo-600 text-left text-xs font-semibold text-white uppercase tracking-wider rounded-tr-lg">
  
  
                </th>
  
              </tr>
  
            </thead>
  
            <tbody>
  
              {% for analysis in signal_analysis_list %}
  
              <tr>
  
                <td class="px-5 py-5 border-b border-gray-200 text-sm">
  
                  <div class="flex items-center">
  
                    <div class="ml-3">
  
                      <p class="text-gray-900 whitespace-no-wrap">
  
                        {{ analysis.modified }}
  
                      </p>
  
                    </div>
  
                  </div>
  
                </td>
  
                <td class="px-5 py-5 border-b border-gray-200 text-sm">
  
                  <p class="text-gray-900 whitespace-no-wrap">
                    {{ analysis.title }}
                  </p>
  
                </td>
                <td class="px-5 py-5 border-b border-gray-200 text-sm">
  
                  <p class="text-gray-900 whitespace-no-wrap">
                    {{ analysis.input_signal.name }}
                  </p>
  
                </td>
  
                <td class="px-5 py-5 border-b border-gray-200 text-sm">
  
                  <a href="{% url 'signal_analysis_detail' analysis.pk %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    Open Analysis
                </a>
                
  
                </td>
              </tr>
              {% endfor %}
  
  
            </tbody>
  
          </table>
  
        </div>
  
      </div>
  
    </div>
  