{% extends "base.html" %}

{% block content %}


<!-- Signal Spectrogram Preview -->
<div class="flex flex-wrap space-x-8 mt-2">

  <div class="bg-white md:w-1/5 p-4 justify-center text-center shadow-md rounded mb-8">

    <h2 class="text-lg font-semibold mb-4">Signal Analysis #{{ object.id }}</h2>

    <div>
      <div class="flex justify-center mt-4 mb-2">

        <h3 class="text-md font-semibold md:w-1/2">Title:</h3>
        <span class="text-md md:w-1/2">{{ object.title }}</span>
      </div>

      <div class="flex justify-center mt-4 mb-2">
        <span class="text-md md:w-1/2 font-semibold">Description:</span>
        <span class="break-all text-md md:w-1/2">{{ object.description }}</span>
      </div>
      <div class="flex justify-center mt-4 mb-2">
        <span class="break-all  text-md md:w-1/2 font-semibold">Uploaded file:</span>
        <span class="break-all text-md md:w-1/2">{{ object.input_signal.name }}</span>
      </div>
      <!-- Display other fields as needed -->
    </div>
  </div>
  <div class="bg-white md:w-1/2 p-4 justify-center items-center shadow-md rounded mb-8">
    <h2 class="text-lg font-semibold text-center mb-4">Signal Spectrogram</h2>

    <div class="h-96 bg-white rounded flex justify-center items-center">
      <!-- Placeholder for Spectrogram -->
      {% if object.signalSpectogram %}
      <img class="h-96" src="{{ object.signalSpectogram.url }}"> </img>
      {% else %}

      <span class="text-gray-500">Spectrogram Preview</span>
      {% endif %}
    </div>

    {% if object.signalSpectogram %}
    <div class="flex justify-center items-center">
      <button onclick="toggleModal()"
        class="bg-transparent m-auto hover:bg-indigo-500 text-indigo-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
        Visually Compare Signal Spectrogram
      </button>
    </div>
    {% endif %}

  </div>

  <div class="bg-white md:w-1/4 p-4 shadow-md rounded mb-8">
    <h2 class="text-lg font-semibold text-center mb-4">Explanation for Signal Spectrogram</h2>

    <p class="mt-2 text-gray-500">A spectrogram is a visual representation of the spectrum of frequencies in a signal as
      they vary with time. Key features include:</p>
    <ul class="list-disc pl-5 mt-2 text-gray-500">
      <li><strong>Horizontal Axis:</strong> Represents time.</li>
      <li><strong>Vertical Axis:</strong> Represents frequency.</li>
      <li><strong>Color Intensity:</strong> Indicates the amplitude of a particular frequency at a given moment.</li>
      <li><strong>Color Spectrum:</strong> Different colors can represent various features or intensity levels in the
        data.</li>
    </ul>
  </div>
</div>

<div id="takesSection">

  {% if object.analysistake_set.last %}
  <div class="flex flex-wrap justify-start space-x-8 mt-2 w-full">
    <div hx-get="/analysis/take/history/{{object.analysistake_set.last.id }}/" hx-trigger="load" hx-target="this"
      hx-swap="outerHTML">
    </div>
    <div hx-get="/analysis/take/{{object.analysistake_set.last.id }}/" hx-trigger="load" hx-target="this"
      hx-swap="outerHTML">
    </div>
  </div>
  <div hx-get="/analysis/{{object.id}}/take/processing/" hx-trigger="load" hx-target="this" hx-swap="outerHTML">
  </div>
  {% else %}
  <div hx-get="/analysis/{{object.id}}/take/create/" hx-trigger="load" hx-target="this" hx-swap="outerHTML">
  </div>
  {% endif %}


</div>






{% include "visually_compare_modal.html" %}


{% endblock %}