<div class="container w-3/5">
  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 rounded">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Take
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Window Size
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Overlap
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  FS
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Comment
                </th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
{% for object in takes %}
              <!-- Repeat for each row -->
              <tr  hx-get="/analysis/take_existing/{{object.analysis.id}}/{{object.id}}/" hx-target="#takesSection" hx-swap="outerHTML" hx-trigger="click">
                <td class="px-6 py-4 whitespace-nowrap">
                    {{object.id}}
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                    {{object.window_size}}
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                    {{object.overlap}}
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                    {{object.fs}}
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                                        {{object.comment}}

                  <!-- Optional comment -->
                </td>
              </tr>
{%endfor%}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

