{% extends "base.html" %}

{% block content %}

<div class="mt-5 w-full max-w-6xl mx-auto bg-white rounded-xl shadow-xl overflow-hidden">



  <!-- Content -->

  <div class="container mx-auto p-8">

    <div class="bg-white rounded shadow-md p-5 mb-10">

      <!-- Info Section -->

      <h2 class="text-3xl font-bold text-indigo-600 mb-2">How it works?</h2>
      <div class="container mx-auto px-6 py-8">
        <div class="mb-6">
          <h2 class="text-xl font-semibold text-gray-800 mb-2">New Analysis:</h2>
          <p class="text-gray-600 mb-3">To begin, click on the "New Analysis" area in the Dashboard.</p>
          <p class="text-gray-600 mb-3">Upload a new file with signal data in CSV or TXT format.</p>
          <p class="text-gray-600 mb-3">Enter a title and a brief description for your analysis to help you identify it
            later.</p>
        </div>

        <div class="mb-6">
          <h2 class="text-xl font-semibold text-gray-800 mb-2">Signal Analysis:</h2>
          <p class="text-gray-600 mb-3">Once uploaded, you can preview the signal spectrum on the dashboard. This visual
            representation helps you understand the signal's characteristics before analysis.</p>
          <p class="text-gray-600 mb-3">Modify parameters for signal processing using the form provided. These
            parameters are crucial as they guide the unsupervised model in analyzing the data.</p>
          <p class="text-gray-600 mb-3">After setting your parameters, initiate the analysis. The app uses an
            unsupervised model to process the signal data and predicts the likelihood of a defect.</p>
        </div>

        <div class="mb-6">
          <h2 class="text-xl font-semibold text-gray-800 mb-2">Analysis Results:</h2>
          <p class="text-gray-600 mb-3">View the results of your analysis in a clear, concise format. The app displays
            the probability of a defect, along with visual graphs and charts that make interpreting the data
            straightforward.</p>
        </div>

        <div class="mb-6">
          <h2 class="text-xl font-semibold text-gray-800 mb-2">Past Records:</h2>
          <p class="text-gray-600 mb-3">Access previous analyses in the "Past Records" section.</p>
          <p class="text-gray-600 mb-3">The table view shows each analysis's date and summary. You can inspect each
            record in detail to review the findings or to compare results over time.</p>
        </div>
      </div>



      <div class="border-2 border-dashed border-indigo-400 rounded p-4 text-center">
        <button onClick="toggleModal()" class="text-indigo-500 hover:underline">
          Start New Analysis
        </button>



      </div>

    </div>

    {% include "create_analysis_modal.html" %}

    <div hx-get="/analysis/table/" hx-trigger="load" hx-target="this" hx-swap="outerHTML"> </div>


  </div>



  {% endblock %}