<div id="takesSection">
  <div class="flex flex-wrap justify-start space-x-8 mt-2 w-full">
      <div hx-get="/analysis/take/history/{{take_id }}/" hx-trigger="load" hx-target="this" hx-swap="outerHTML">
      </div>
      <div hx-get="/analysis/take/{{take_id }}/" hx-trigger="load" hx-target="this" hx-swap="outerHTML">
      </div>
      <div hx-get="/analysis/{{analysis_id}}/take/processing/" hx-trigger="load" hx-target="this" hx-swap="outerHTML">
      </div>

  </div>
</div>

