<style>
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .spinner {
        border: 4px solid rgba(0, 0, 0, 0.1);
        border-left-color: #4f46e5;
        border-radius: 50%;
        width: 64px;
        height: 64px;
        animation: spin 1s linear infinite;
    }
</style>
<div id="takesSection">
    <div class="flex flex-wrap justify-start space-x-8 mt-2 w-full">
        <div hx-get="/analysis/take/history/{{take_id }}/" hx-trigger="load" hx-target="this" hx-swap="outerHTML">
        </div>
        <div hx-get="/analysis/take/{{take_id }}/" hx-trigger="load" hx-target="this" hx-swap="outerHTML">
        </div>
    </div>
    <!-- <div hx-get="/analysis/{{analysis_id}}/take/processing/" hx-trigger="load" hx-target="this" hx-swap="outerHTML">
    </div> -->
    <div id="outDiv" class="bg-white mt-6 rounded shadow-lg flex justify-center flex-col w-full">

        <!-- <div class="text-center w-full" hx-get="/analysis/{{analysis_id}}/take/processing/" hx-trigger="load delay:12s"
        hx-target="this" hx-swap="outerHTML">
            <div class="text-center">
            <div class="spinner mx-auto mb-4"></div>
            <h2 class="text-lg font-semibold text-gray-800">Preparing an analysis for signal with provided parameters</h2>
            </div>
        </div>  -->
        <div class="bg-white -mr-4 p-6 mt-6 rounded shadow-lg flex justify-center flex-col w-full">
            <div class="flex justify-center items-center" hx-get="/analysis/{{analysis_id}}/take/processing/"
                hx-trigger="load delay:12s" hx-target="#outDiv" hx-swap="outerHTML">
                <div class="text-center">
                    <div class="spinner mx-auto mb-4"></div>
                    <h2 class="text-lg font-semibold text-gray-800">Preparing an analysis for signal with provided
                        parameters</h2>
                </div>
            </div>
        </div>
    </div>
</div>