{% load static %}
{% block extrahead %}
<style>
    .modal-overlay {
        background-color: rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .modal-content {
        background-color: white;
        padding: 2rem;
        border-radius: 0.5rem;
        width: 90%;
        max-width: 600px;
    }

    .image-container {
        cursor: pointer;
        transition: transform 0.2s;
    }

    .image-container:hover {
        transform: scale(1.05);
    }
</style>
<script src="https://cdn.tailwindcss.com"></script>
{% endblock %}

<div id="compareModal" class="hidden fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full">
    <!-- Modal content -->
    <div class="relative top-20 mx-auto p-5 border w-full	 shadow-lg rounded-md bg-white">
        <div class="mt-3 text-center">
            <h3 class="text-lg leading-6 font-medium text-gray-900">Visually Compare Spectrograms</h3>
            <div class="mt-2" id="modal-content">

                <div class="mx-auto p-6">
                    <div class="grid grid-cols-5 gap-2 mb-6">
                        <div class="col-span-2">
                            <h2 class="text-xl font-semibold mb-4">Uploaded signal</h2>
                            <div class="flex justify-center">


                                <img src="{{ object.signalSpectogram.url }}"
                                    alt="Signal Spectrogram for uploaded signal" class="border border-gray-300">

                            </div>
                        </div>
                        <div class="col-span-2">
                            <h2 class="text-xl font-semibold mb-4">Reference Spectrograms</h2>
                            <div class="flex justify-between">
                                <div class="mr-8">
                                    <div id="selectedImageContainer"
                                        class="mb-4 p-2 border border-gray-300 selected-image">
                                        <img id="selectedImage" src="{% static 'spectrogram_good_signal.png' %}"
                                            alt="Selected Reference Spectrogram" class="w-full">
                                    </div>
                                    <div id="spectrogramType" class="text-center text-sm">The selected image</div>
                                </div>
                                <div class="w-1/6">
                                    <!--<div class="text-center text-sm mb-2">Click on images to replace the reference image</div>-->
                                    <div class="grid grid-cols-1 gap-2">
                                        <div class="image-container"
                                            onclick="selectImage('Good Signal', `{% static 'spectrogram_good_signal.png' %}`)">
                                            <img src="{% static 'spectrogram_good_signal.png' %}" alt="Good Signal"
                                                class="border border-gray-300">
                                            <p>Good Signal 1</p>
                                        </div>
                                        <div class="image-container"
                                            onclick="selectImage('Good Signal 2', `{% static 'spectrogram_good_signal_111.png' %}`)">
                                            <img src="{% static 'spectrogram_good_signal_111.png' %}" alt="Bad Signal 2"
                                                class="border border-gray-300">
                                            <p>Good Signal 2</p>
                                        </div>
                                        <div class="image-container"
                                            onclick="selectImage('Bad Signal 1', `{% static 'spectrogram_bad_signal.png' %}`)">
                                            <img src="{% static 'spectrogram_bad_signal.png' %}" alt="Bad Signal 1"
                                                class="border border-gray-300">
                                            <p>Bad Signal 1</p>
                                        </div>
                                        <div class="image-container"
                                            onclick="selectImage('Bad Signal 3', `{% static 'spectrogram_bad_signal_type2.png' %}`)">
                                            <img src="{% static 'spectrogram_bad_signal_type2.png' %}" id="bad_signal3"
                                                alt="Bad Signal 3" class="border border-gray-300">
                                            <p>Bad Signal 2</p>
                                        </div>
                                        <div class="image-container"
                                            onclick="selectImage('Bad Signal 2', `{% static 'spectrogram_bad_signal_1330.png' %}`)">
                                            <img src="{% static 'spectrogram_bad_signal_1330.png' %}" id="bad_signal2"
                                                alt="Bad Signal 2" class="border border-gray-300">
                                            <p>Bad Signal 3</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bg-white ml-8 p-4 shadow-md rounded mb-8">
                            <h2 class="text-lg font-semibold text-center mb-4">Explanation for Signal Spectrogram</h2>

                            <p class="mt-2 text-gray-500">A spectrogram is a visual representation of the spectrum of
                                frequencies in a signal as they vary with time. Key features include:</p>
                            <ul class="text-left list-disc pl-5 mt-2 text-gray-500">
                                <li><strong>Horizontal Axis:</strong> Represents time.</li>
                                <li><strong>Vertical Axis:</strong> Represents frequency.</li>
                                <li><strong>Color Intensity:</strong> Indicates the amplitude of a particular frequency
                                    at a given moment.</li>
                                <li><strong>Color Spectrum:</strong> Different colors can represent various features or
                                    intensity levels in the data.</li>
                            </ul>
                        </div>
                    </div>
                    <button type="button" onclick="toggleModal()"
                        class="py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">Close</button>

                </div>

                <script>
                    function selectImage(signalType, imageURL) {
                        const selectedImage = document.getElementById('selectedImage');
                        selectedImage.src = imageURL;
                        selectedImage.alt = `${signalType} Reference Spectrogram`;
                        const title = document.getElementById('spectrogramType');
                        title.innerHTML = `${signalType} Spectrogram`;

                    }
                </script>
            </div>
        </div>
    </div>
</div>
<script>
    function toggleModal() {
        var modal = document.getElementById("compareModal");
        modal.classList.toggle("hidden");
    }
</script>